**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/artifacts
**/charts
**/coverage
**/dist
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/playwright-report
**/secrets.dev.yaml
**/values.dev.yaml
**/test-results
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
**/.idea
**/.angular
private-planning
